.container {
    padding: 3rem;
    margin: auto;
}


header {
    text-align: center;
    margin-bottom: 4rem;
}

header h1 {
    font-size: 3rem;
    color: #00ff9f;
}

header p {
    font-size: 1.2rem;
    color: #aaa;
}
.item {

    padding: 0 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 4rem;
    height: auto;
}

.item .card {
    margin: 2rem;
}
.image-side {
    width: 35%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 255, 159, 0.1);
}

.highlight {
    color: #00ff9f;
}

.card {

    background: #1a1a1a;
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    box-shadow: 0 0 15px rgba(0, 255, 159, 0.1);
    transition: 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 25px rgba(0, 255, 159, 0.3);
}

.card h2,
.highlight-box h2 {
    margin-bottom: 1rem;
    color: #00ff9f;
}


.highlight-box {
    background: #1a1a1a;
    border-left: 5px solid #00ff9f;
    padding: 1.5rem;
    margin: 2rem 0;
    font-style: italic;
    line-height: 1.6;
    box-shadow: 0 0 10px rgba(0, 255, 159, 0.1);
}