

<div class="container">
<div class="main">
    <div class="intro">
        <h2>Hi, I'm</h2>
        <h1>Mateo García</h1>
        <p class="role-badge">
            <span class="icon">🛡️</span>
            <span class="text">Ethical Hacker</span>
            <span class="divider">|</span>
            <span class="text"> 💻 Software Dev</span>
        </p>
        <p class="subtitle">"Talk is cheap<br />Show me the code"</p>
        <a href="assets/docs/cv_garcia_mateo.pdf" class="get-started" download="Mateo_Garcia_CV.pdf">

            <i class="fa-solid fa-download"></i>
            Download CV</a>
    </div>
    <div class="graphic">
        <div class="circle">
            <img src="assets/img/profile.jpeg" class="circle" alt="sdfsdfsdf">

            <div class="caption">$ ./showcode.sh</div>
        </div>
    </div>
</div>
</div>