/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Fira Code', monospace;
    background-color: #111;
    color: #eee;
    padding: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #00ffae #0a0a0a;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background-color: #00ffae;
  border-radius: 10px;
  border: 2px solid #0a0a0a;
}
