
<section id="projects" class="projects-section">
    <header>
        <h1>$tree ./projects</h1>
        <p>Here you can seee my hard and soft skills</p>
    </header>
    <div class="projects-grid">

      <div class="project-card">
        <img src="./assets/img/minex.jpeg" alt="Project 1 screenshot" class="project-img">
        <div class="project-content">
          <h3>Minex</h3>
          <p>Multitax is a cross-platform application, helping (fictional) Minex employees to handle and manage their Mars exploration.</p>
          <div class="tech-icons">
            <!-- Ejemplo con Devicons -->
             <!--TS, SCSS HTML, JAVA, SWIFT-->
            <i class="devicon-typescript-plain"></i>
            <i class="devicon-sass-original"></i>
            <i class="devicon-html5-plain"></i>
            <i class="devicon-java-plain"></i>
            <i class="devicon-swift-plain"></i>
            <i class="devicon-ruby-plain"></i>

          </div>
          <a href="https://github.com/Cotbert2/mutltitax" target="_blank" class="github-link">
            <i class="devicon-github-original"></i> GitHub</a>
        </div>
      </div>



      <div class="project-card">
        <img src="./assets/img/xdRing.jpeg" alt="Project 1 screenshot" class="project-img">
        <div class="project-content">
          <h3>XD Ring</h3>
          <p>As a graduate project in high school, we built XDRing: automation and operation with Telegram, WebSockets, video streaming, face recognition, door control, and more (yes, even more).</p>
          <div class="tech-icons">
            <!-- Ejemplo con Devicons -->
          <!--Python, HTML, c++, js, css, linux, raspeberry-->
            <i class="devicon-python-plain"></i>
            <i class="devicon-html5-plain"></i>
            <i class="devicon-cplusplus-plain"></i>
            <i class="devicon-javascript-plain"></i>
            <i class="devicon-css3-plain"></i>
            <i class="devicon-linux-plain"></i>
            <i class="devicon-raspberrypi-plain"></i>


          </div>
          <a href="https://github.com/Cotbert2/XDRing" target="_blank" class="github-link">
            <i class="devicon-github-original"></i> GitHub</a>
        </div>
      </div>




      <div class="project-card">
        <img src="./assets/img/lorenz.png" alt="Project 1 screenshot" class="project-img">
        <div class="project-content">
          <h3>Joe Cypher EDO</h3>
          <p>JoeCypherEDO is an encryptation and decryptation algorithm as a subset of Joe Cybersecurity Framework. It use Lorenz' Atractor chaotical system as ordinary differential ecuations systen with the purpose of encrypting and decrypting messages as a symmetric key algorithm.

            The scripts manage the behavior of the cypher algorithm and offer an API to use it.</p>
          <div class="tech-icons">

            <i class="devicon-python-plain"></i>
          </div>
          <a href="https://github.com/Cotbert2/JoeCypherEDO/tree/main" target="_blank" class="github-link">
            <i class="devicon-github-original"></i> GitHub</a>
        </div>
      </div>


      <div class="project-card">
        <img src="./assets/img/jackson.png" alt="Project 1 screenshot" class="project-img">
        <div class="project-content">
          <h3>Jackson Store</h3>
          <p>A complete e-commerce system teemplate for a fictional store. It includes a complete backend and frontend system, with a database and a complete API.


              <br> <br>
              The project aims to use top-use new technologies.
            </p>
          <div class="tech-icons">
            <!--Nest, MongoDB, ts, js, angular, graphql scss-->
            <i class="devicon-nestjs-plain"></i>
            <i class="devicon-mongodb-plain"></i>
            <i class="devicon-typescript-plain"></i>
            <i class="devicon-javascript-plain"></i>
            <i class="devicon-angularjs-plain"></i>
            <i class="devicon-graphql-plain"></i>
            <i class="devicon-html5-plain"></i>
            <i class="devicon-sass-original"></i>
          </div>
          <a href="https://github.com/Cotbert2/e-comerce-template" target="_blank" class="github-link">
            <i class="devicon-github-original"></i> GitHub</a>
        </div>
      </div>



      <div class="project-card">
        <img src="./assets/img/texais.jpeg" alt="Project 1 screenshot" class="project-img">
        <div class="project-content">
          <h3>Texais</h3>
          <p>A full complete tool fot pdf handle and latex</p>
          <div class="tech-icons">
            <!--python, ts, html, scss django-->
            <i class="devicon-python-plain"></i>
            <i class="devicon-typescript-plain"></i>
            <i class="devicon-html5-plain"></i>
            <i class="devicon-sass-original"></i>
            <i class="devicon-django-plain"></i>

          </div>
          <a href="https://github.com/Cotbert2/texais" target="_blank" class="github-link">
            <i class="devicon-github-original"></i> GitHub</a>
        </div>
      </div>

      <div class="project-card">
        <img src="./assets/img/trucobot.jpeg" alt="Project 1 screenshot" class="project-img">
        <div class="project-content">
          <h3>TrucoBotMusic</h3>
          <p>A full complete tool fot pdf handle and latex</p>
          <div class="tech-icons">
            <i class="devicon-javascript-plain"></i>
            <i class="devicon-nodejs-plain"></i>
            <i class="devicon-discordjs-plain"></i>
            <i class="devicon-linux-plain"></i>


          </div>
          <a href="https://github.com/Cotbert2/trucobotmusic" target="_blank" class="github-link">
            <i class="devicon-github-original"></i> GitHub</a>
        </div>
      </div>

    </div>
  </section>